/* Search bar */
.search-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  margin-bottom: 20px;
}

/* Cocktail card */
.cocktail-card {
  max-width: 250px;
  margin: 50px auto;
  padding-bottom: 0;
  border-radius: 10px;
}

.cocktail-card:first-of-type {
  margin-top: 26px;
}

.cocktail-card img {
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
}

.cocktail-card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.cocktail-card-info h1 {
  margin: 0;
}

mat-card-actions.mat-card-actions,
mat-card-content.mat-card-content {
  margin-bottom: 0;
}

.instructions {
  margin-top: 120px;
  width: 200px;
  text-align: center;
  color: rgba(255, 255, 255, 0.521);
}

.instructions p {
  margin: 0;
}

/* Footer */
footer#absFooter {
  position: absolute;
  bottom: 0;
  width: 100vw;
}
