/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.extra {
  padding-left: 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgb(170, 138, 138);
}

/* Footer */
footer {
  display: flex;
  background-color: #1a1919;
  justify-content: center;
  padding: 20px 0;
}

footer #btmFooter p {
  margin: 0;
}

footer #absFooter p {
  margin: 0;
}
